.player-list {
    list-style-type: none;
    overflow: scroll;
    height: 50%;
    margin: 5px 35px
}

.player {
    padding: 10px 35px
}

.hovered-player {
    background-color: slategrey;
}

.div-container {
    height: 100%;
}

/*#options-container {
    background-color: white;
    opacity: 0;
    border-radius: 10px;
}*/

.test {
    background-color: white;
    border-radius: 10px;
}

/*#charts-container {
    background-color: white;
    opacity: 0;
    border-radius: 10px;
}*/

/*fix*/