.player-list {
    list-style-type: none;
    overflow-y: scroll;
    height: 300px;
    /*margin: 5px 35px*/
}

.player {
    padding: 10px 35px
}

.hovered-player {
    background-color: slategrey;
}

.div-container {
    height: 100%;
}


.options-container {
    background-image: url('imgs/metal.png');
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    padding: 25px;
}

h4 {
    color: darkblue;
}

label {
    color: darkblue;
}

p {
    color: darkblue;
}

#playerImage {
    width: 80%;
}