.player-list {
    list-style-type: none;
    overflow-y: scroll;
    height: 50%;
    margin: 5px 35px
}

.player {
    padding: 10px 35px
}

.hovered-player {
    background-color: slategrey;
}

.div-container {
    height: 100%;
}

/*#options-container {
    background-color: white;
    opacity: 0;
    border-radius: 10px;
}*/

.options-container {
    background-image: url('imgs/metal.png');
    border-radius: 10px;
    box-shadow: 10px 10px 5px #888888;
    padding: 25px;
}

/*#charts-container {
    background-color: white;
    opacity: 0;
    border-radius: 10px;
}*/


/*fix*/