* {
    margin:0;
    padding: 0;
}

body {
    width:100%;
    display: flex;
    justify-content: center;
    background-image: url("imgs/bgImg.png"), 
    linear-gradient( #aeafb3 0%, #f4f4f6 50%, #aeafb3 100%); /* W3C */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

#wrapper {
    width:90%;
    display: flex;
    flex-flow: row wrap;
}
@media only screen and (max-width: 366px) {
    #wrapper {
        width:90%;
        display: flex;
        flex-flow: column;
    }
}

header {
    height: 60px;
    background: rgba(245,245,245,1);
    background: -moz-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(102,152,209,1) 43%, rgba(68,132,206,1) 59%, rgba(68,132,206,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(245,245,245,1)), color-stop(1%, rgba(245,245,245,1)), color-stop(43%, rgba(102,152,209,1)), color-stop(59%, rgba(68,132,206,1)), color-stop(100%, rgba(68,132,206,1)));
    background: -webkit-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(102,152,209,1) 43%, rgba(68,132,206,1) 59%, rgba(68,132,206,1) 100%);
    background: -o-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(102,152,209,1) 43%, rgba(68,132,206,1) 59%, rgba(68,132,206,1) 100%);
    background: -ms-linear-gradient(top, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(102,152,209,1) 43%, rgba(68,132,206,1) 59%, rgba(68,132,206,1) 100%);
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 1%, rgba(102,152,209,1) 43%, rgba(68,132,206,1) 59%, rgba(68,132,206,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f5f5f5', endColorstr='#4484ce', GradientType=0 );
    width:100%;
    display:flex;
    justify-content: center;
    flex-flow: row wrap;
}

@media only screen and (max-width: 694px) {
        nav {
        padding-top: 15px;
        padding-left: 25px;
        height: 100px;
        width: 100%;
        
        
        background-color: #fff;
    }
}

@media only screen and (min-width: 694px) {
    nav {
        padding-top: 15px;
        padding-left: 25px;
        height: 50px;
        width: 100%;
        background-color: #fff;
    }
}

@media only screen and (max-width: 366px) {
    nav {
        padding-top: 0;
        padding-left: 0;
        height: 200px;
        width: 200px;
        background-color : transparent;
    }
}  



h1 {
    color:white;
    display: inline-block;
}

main {
    width: 100%;
    margin-top:60px;
    display: flex;
}
@media only screen and (max-width: 600px) {
    main {
        width: 100%;
        margin-top:60px;
        display: flex;
        flex-flow: column;
    }
}

aside {
    /*border:1px solid blue;*/
    width :30%;
    height: 500px;
    display:inline-block;
    box-sizing: border-box;
}

@media only screen and (max-width: 600px) {
    aside {
        /*border:1px solid blue;*/
        width :100%;
        height: 500px;
        display:inline-block;
        box-sizing: border-box;
    }
}

#charts-container {
    /*border:1px solid black;*/
    width:64%;
    height: 500px;
    display:inline-block;
    box-sizing: border-box;
}
@media only screen and (max-width: 600px) {
        #charts-container {
        /*border:1px solid black;*/
        width:100%;
        height: 500px;
        display:inline-block;
        box-sizing: border-box;
    }
}

footer {
    width:100%;
    height: 35px;
    background-color: #4484ce;
    margin-top:25px;
}


@media only screen and (max-width: 366px) {
    .buttonNavMobile {
        border:none;
        margin-bottom:10px;
        margin-left: 3px;
        background-color: #fff;
        width:290px;
        height: 40px;
        color:#3399ff;
        font-family: sans-serif;
        font-size: 14px;
    }
}

@media only screen and (min-width: 366px) {
.customButton {
        border:none;
        margin-bottom:10px;
        margin-left: 3px;
        background-color: #fff;
        width:140px;
        height: 40px;
        color:#3399ff;
        font-family: sans-serif;
        font-size: 14px;
    }
}

.customButton:hover{
    border:none;
    /*background-color: #3399ff;*/
    color:#fff;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 8px 5px #aeafb3;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4484ce+0,146acc+50,4484ce+100 */
    background: #4484ce; /* Old browsers */
    background: -moz-linear-gradient(top, #4484ce 0%, #146acc 50%, #4484ce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4484ce 0%,#146acc 50%,#4484ce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4484ce 0%,#146acc 50%,#4484ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4484ce', endColorstr='#4484ce',GradientType=0 ); /* IE6-9 */
}

.customButton:active {
    box-shadow: 2px 4px 2px #aeafb3;
    transform: translateY(4px);
}

.customButtonOptions {
         border:none;
    /*background-color: #3399ff;*/
    color:#fff;
    width:160px;
     height: 40px;
    font-size: 16px;
    font-weight: bold;
    box-shadow: 5px 8px 5px #aeafb3;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#4484ce+0,146acc+50,4484ce+100 */
    background: #4484ce; /* Old browsers */
    background: -moz-linear-gradient(top, #4484ce 0%, #146acc 50%, #4484ce 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #4484ce 0%,#146acc 50%,#4484ce 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #4484ce 0%,#146acc 50%,#4484ce 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4484ce', endColorstr='#4484ce',GradientType=0 ); /* IE6-9 */
    }

.customButtonOptions:active {
    box-shadow: 2px 4px 2px #aeafb3;
    transform: translateY(4px);
}

.hidden-message {
    display: none;
}

.warning {
    color: red;
    font-weight: bold;
}

div div label {
    display: block;
}

#lebelHolder {
    display: flex;
}

select {
    border:2px solid #4484ce;
    border-radius: 5px;
    padding:3px;
    width:160px;
    height: 30px;
    color:#4484ce;
    font-weight: bold;

    overflow: hidden; /* Hide the extra select box width - thus hiding the default arrow */
		background: url('imgs/ball.png') no-repeat right #ddd; /* Specify a new arrow image, right align so it appears where your select box arrow normally would be */
		display: block; /* Special sauce that makes this work - needed because container is a table cell */
    background-color: #fff;
    margin-bottom: 8px;
        
}

/*some colors
f9cf00 - light(yellow)
f19f4d - tangerine (orange)*/
